td input{
    border-style: hidden;
    width:50px;
    height:50px;
    text-align:center;
}

#citiesNames td input{
      border-style: hidden;
    width:150px;
    height:50px;
    text-align:center;
}

td{
  text-align:center;
  height:50px;
}

/* how to remove arrow from number input */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

/* how to remove arrow from number input */