td input{
    border-style: hidden;
    width:50px;
    height:50px;
    text-align:center;
}

#population td input{
    border-style: hidden;
    width:115px;
    height:50px;
    text-align:center;
}

td{
  text-align:center;
  height:50px;
}

/* how to remove arrow from number input */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

.table-title{
  font-size: 20px;
  font-weight: 900;
  text-align: center;
}

/* how to remove arrow from number input */